@media screen and (max-width: 800px) {
  body {
    background-position: -200px 0;
  }
  header {
    width: 100%;
    border-radius: 0;
  }
  nav {
    flex-wrap: wrap;
  }
  #logo {
    display: block;
    line-height: 80px;
  }
  main {
    width: 100%;
    margin: 30px 0;
    border-radius: 0;
  }
  aside {
    width: 100%;
    border-radius: 0;
  }
  article {
    margin: 0;
  }
  section {
    border-radius: 0px;
  }
  footer {
    width: 100%;
    border-radius: 0;
  }
}
@media screen and (min-width: 800px) {
  header {
    width: 80%;
    margin: auto;
  }
  main {
    width: 83%;
    margin: 30px auto;
  }
  aside {
    width: 40%;
  }
  footer {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    width: 1000px;
    margin: auto;
  }
  body {
    width: 1000px;
    margin: auto;
  }
  main {
    margin: 30px auto 30px auto;
    border-radius: 30px;
  }
  article {
    margin: auto;
  }
  aside {
    width: 40%;
  }
  footer {
    width: 1000px;
  }
}
/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.1em;
  background-image: url("../images/aquascape-back-v-faded.png");
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
#wrapper {
  width: 100%;
  background-color: rgba(173, 236, 255, 0.7);
}
header {
  display: block;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  font-family: 'Righteous', cursive;
}
#logo {
  display: block;
  font-family: 'Righteous', cursive;
  color: black;
  padding: 30px;
  background-color: rgba(255, 166, 0, 0.562);
  border-bottom: 10px solid orange;
}
nav {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: black;
  text-shadow: 1px 1px yellow;
  height: 100%;
}
.bubble {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background: rgba(78, 255, 217, 0.719);
  border-radius: 50%;
  border: 3px solid orange;
  justify-content: center;
}
.hidden {
  display: none;
  position: absolute;
  width: 100px;
  height: 200px;
}
.rollover {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 300px;
}
.rollover :hover .hidden {
  display: block;
}
#spacer {
  height: 500px;
}
main {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  text-align: center;
}
aside {
  background-color: rgba(0, 162, 255, 0.8);
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  float: none;
  order: 0;
}
article {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  order: 1;
  margin: 0 auto;
}
section {
  padding: 15px;
  margin: auto;
}
h1 {
  font-size: 80px;
  text-shadow: 2px 2px #ff0000;
  line-height: 1em;
}
p,
h2,
h3,
h4,
h5,
h6,
li {
  line-height: 1.5em;
}

a {
  color: #001aff;
}
a:visited {
  color: #1e901e;
}
#visit-div {
  background-color: rgba(255, 181, 44, 0.637);
}
#show-swap-div {
  background-color: rgba(78, 255, 217, 0.637);
}
#sponsor-vendor-div {
  background-color: rgba(255, 0, 0, 0.637);
}
#sponsor-vendor-div,
#show-swap-div,
#visit-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
figcaption {
  text-align: center;
}
input {
  padding: 5px;
  background-color: orange;
  margin: 1em;
}
textarea {
  background-color: orange;
  margin: 1em;
}
#panel1 {
  border-bottom: 1px solid black;
}
img {
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}
#paypal-btn {
  max-width: 30%;
}
#fish-hr {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#fish-hr img {
  width: 200px;
  object-fit: contain;
}
#form-table {
  margin: 25px auto 0 auto;
}
#legend {
  margin: 20px;
}
#labels {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(4, 50px);
  grid-gap: 10px;
  float: left;
  justify-items: right;
  align-items: center;
}
#labels * {
  place-self: center right;
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}
#inputs {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: repeat(4, 50px);
  grid-gap: 10px 10px;
  float: right;
  justify-items: left;
  align-items: center;
}
#inputs * {
  place-self: center left;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}
.checkbox-cell input {
  margin: 0;
}
.float-right {
  float: right;
  margin-left: 30px;
}
.float-left {
  float: left;
  margin-right: 30px;
}
.float-clear {
  clear: both ;
}
.center {
  text-align: center;
  margin: auto;
  display: block;
}
.highlight {
  background-color: orange;
}
footer {
  border-top: 10px solid rgba(255, 181, 44, 0.829);
  margin: 40px auto 0 auto;
  padding: 50px 0;
  background-color: rgba(255, 166, 0, 0.562);
}
